<h1 class="center">Listing Posts</h1>
<h3>Tag Cloud</h3>
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<%= form_tag posts_path, :method => 'get', :id => "posts_search" do %>
  <div>
    <%= select_tag 'category_id', options_for_select(Category.all.map { |el| [el.name, el.id]}), class: 'form-control' %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "waves-effect waves-light btn" %>
  <%= button_to "Clear", posts_path, :class => "waves-effect waves-light btn", :method => :get %>
  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: 'waves-effect waves-light btn' %>
  <% end %>
  </div>
<% end %>
<div>
  <% if @posts.empty? %>
    Nothing found
  <% else %>
    <% @posts.each do |post| %>
        <div class="collection">
          <h3 class="center title"><%= post.title %></h3>
          <p class="collection-item yellow darken-1">Category: <%= post.category.name %></p>
          <p class="collection-item yellow">
            Tags: <%= raw post.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') %>
          </p>
          <p class="post-body"><%= post.body %></p>
          <div class="right">
          <%= link_to 'Show', post, class: 'btn-large waves-effect waves-light red'%>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn-large waves-effect waves-light blue'%>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-large waves-effect waves-light purple' %>
          <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
<%= will_paginate @posts %>
