<!DOCTYPE html>
<html>
<head>
  <title>OnlineBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Online Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
          <% if user_signed_in? %>
            Hi, <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "card orange") %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
